<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Summary</key>
	<string>NEFlexboxView</string>
	<key>Description</key>
	<string>NEFlexboxView classes.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>NEFlexboxView</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>View name:</string>
			<key>Description</key>
			<string>The name of the view to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>subclass</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Class</string>
			<key>Description</key>
			<string>Class</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>UIView</string>
			<key>Values</key>
			<array>
				<string>UIView</string>
				<string>UITableViewCell</string>
				<string>UICollectionViewCell</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Swift</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Swift</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
